<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employees</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav class="navbar">
    <div>
      <a href="/"><img src="/images/shield.png" alt="Logo" class="logo"></a>
    </div>
    <div>
      <a href="/employees/new">New Employee</a> | <a href="/employees">All Employees</a>
    </div>
    <!-- <a href="/"><img src="/images/shield.png" alt="Logo" class="logo"></a> | <a href="/employees/new">New Employee</a> | <a href="/employees">All Employees</a>  -->
  </nav>
  <main>
    <h1><%= title %></h1>