<%- include('./partials/header')%>



<img src="/images/kisspng-logo-walmart-de-méxico-y-centroamérica-brand-bus-wall-art-logo-elitflat-5b6b06930fbc35.1556774815337406910645.png" alt="logo" class="homeLogo">

<h4 class="bottom-center">Welcome To The Walmart Employee Directory</h4>





<%- include('./partials/footer') %>
