* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0 20px 0 30px;
}


body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 60vh;
  margin-top: 10vh;
}

#show-page div {
  display: flex;
  justify-content: flex-start;


}
#show-page div:nth-child(even) {
  font-weight: bold;
  justify-content: flex-start
}
#show-page div:nth-child(odd) {
  justify-content: flex-start;
}
#edit {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}
#edit button:hover {
  background-color: red;
  font-weight: bold;
  
}
#edit button > a {
  text-decoration: none;
}

h2 {
  text-align: center;
}